body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6fa;
  margin: 0;
  color: #333;
}

nav {
  background-color: #004aad;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: 30px auto;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

button {
  background-color: #004aad;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

img {
  width: 300px;
  margin-top: 10px;
  border-radius: 8px;
}
